.main{
  &__inner{
    padding: 64px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content, & > img{
      width: calc(50% - 16px);
    }
    &>img{
      max-height: 640px;
      object-fit: contain;
      object-position: right;
    }
    .content{
      display: flex;
      flex-direction: column;
      gap: 24px;
      h1{
        margin: 0;
        font-size: 36px;
        color: $black-color;
        line-height: 48px;
        font-weight: 600;
        span{
          color: $primary;
        }
      }
    }
  }
}

.about-block{
  background: #F2F4F7;
  &__inner{
    padding: 96px 0;
    .center{
      .button{
        padding: 0 24px;
      }
    }
  }
  &__cards{
    margin-top: 23px;
    padding: 64px;
    background-image: url('@/assets/images/aboutBlockBg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .card{
      border: 1px solid rgba(255, 255, 255, 0.60);
      background: rgba(255, 255, 255, 0.30);
      backdrop-filter: blur(12px);
      padding: 32px 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      p{
        margin: 0;
        color: white;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -1.2px;
        font-weight: 600;
        text-align: center;
      }
      span{
        display: block;
        font-size: 18px;
        color: white;
        line-height: 28px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

.news-slider{
  overflow: hidden;
  width: 100%;
  padding: 96px 0;
  &__inner{
    overflow-x: visible;
    .splide{
      position: relative;
      right: 0;
      width: max-content;
      margin: 0 -16px;
    }
    .splide__arrows{
      .splide__arrow--prev{
        left: 10px;
      }
      .splide__arrow--next{
        left: calc(34px + 48px);
      }
      .splide__arrow{
        top: auto;
        bottom: -100px;
        width: 48px;
        height: 48px;
        background: white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        border-radius: 28px;
        border: 1px solid var(--Gray-200, #EAECF0);
        background: rgba(255, 255, 255, 0.90);
        backdrop-filter: blur(4px);
      }
    }
    .news__cards .card{
      width: 384px;
      position: relative;
      overflow: hidden;
      margin: 0 16px;
      .description{
        p{
          margin: 0;
        }
      }
    }
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
    .title{
      flex: 1;
    }
  }

}

.main-news{
  padding-bottom: 160px;
}

.enterprises{
  background: #F2F4F7;
  &__inner{
    padding: 96px 0;
  }
  &__cards{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }
  &__card{
    width: calc(50% - 16px);
    background: white;
    padding: 32px;
    .icon{
      width: 96px;
      height: 96px;
      img,svg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }
    .title{
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      margin-top: 20px;
      color: #101828;
    }
    .txt{
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 12px 0 0 0;
      color: #101828;
      svg{
        min-width: 24px;
        width: 24px;
        max-width: 24px;
        min-height: 24px;
        max-height: 24px;
        height: 24px;
      }
    }
    .descr{
      color: #101828;
      margin-top: 16px;
      p{
        color: #101828;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
      }
      ul{
        padding-left: 15px;
        margin: 4px 0 20px 0;
        li{
          color: #475467;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
  }
}


.banner{
  padding: 96px 0;
  &__inner{
    background: #0A1433;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    .title{
      flex: 1;
      color: white;
      font-size: 30px;
      font-weight: 600;
      line-height: 38px;
    }
    .button{
      width: 250px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px){

  .main{
    &__inner{
      .content{
        h1{
          font-size: 32px;
          line-height: 42px;
        }
      }
    }
  }

  .main-news{
    padding-top: 64px;
    padding-bottom: 130px;
  }

  .about-block{
    &__inner{
      padding: 64px 0;
    }
    &__cards{
      .card{
        p{
          font-size: 44px;
          line-height: 46px;
        }
      }
    }
  }

  .enterprises{
    &__inner{
      padding: 64px 0;
    }
  }

  .banner{
    padding: 64px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px){

  .main{
    &__inner{
      .content{
        h1{
          font-size: 28px;
          line-height: 36px;
        }
        .description{
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }

  .main-news{
    padding-top: 64px;
    padding-bottom: 130px;
  }

  .about-block{
    &__inner{
      padding: 64px 0;
    }
    &__cards{
      padding: 24px;
      .card{
        padding: 16px;
        p{
          font-size: 32px;
          line-height: 38px;
        }
        span{
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .enterprises{
    &__inner{
      padding: 64px 0;
    }
  }

  .banner{
    padding: 64px 0;
    &__inner{
      padding: 40px;
      gap: 32px;
      .button{
        width: 220px;
      }
      .title{
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 767px){
  .main{
    &__inner{
      flex-direction: column;
      .content, & > img{
        width: 100%;
        max-width: 580px;
      }
      & > img{
        margin-top: 32px;
      }
      .content{
        h1{
          font-size: 32px;
          line-height: 40px;
        }
        .description{
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }

  .about-block{
    &__cards{
      margin-top: 48px;
      padding: 32px 24px;
      .card{
        & + .card{
         margin-top: 32px;
        }
        p{
          font-size: 48px;
          line-height: 56px;
        }
      }
    }
  }

  .enterprises{
    &__card{
      width: 100%;
    }
  }

  .banner{
    padding: 64px 0;
    &__inner{
      padding: 40px 24px;
      gap: 32px;
      flex-direction: column;
      .button{
        width: 100%;
      }
      .title{
        font-size: 30px;
      }
    }
  }
}