.services{
  &__inner{
    padding-bottom: 64px;
  }
  &__header{
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    .description{
      margin-top: 16px;
    }
  }
  &__cards{
    margin-bottom: -32px;
    .card{
      padding: 24px;
      p{
        font-size: 18px;
        color: $black-color;
        line-height: 24px;
        font-weight: 600;
      }
      ul{
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        li{
          color: $grey-600;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

.tenders__cards{
  justify-content: space-between;
  .card{
    text-decoration: none;
    color: $black-color;
    width: calc(50% - 16px);
    margin-right: 0 !important;
    display: flex;
    flex-direction: column;
    .name{
      flex: 3;
    }
    p{
      flex: 2;
    }
    .flex-1{
      margin-top: 16px;
      p{
        margin: 0;
        font-size: 14px;
      }
    }
    ul{
      flex: 1;
      li{
        span{
          color: $black-color;
          font-weight: 500;
        }
      }
    }
  }
  .name{
    cursor: pointer;
    text-decoration: underline;
  }
}

.sub{
  &__inner{
    padding: 32px 0;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }
  &__nav{
    width: 280px;
    ul{
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      li{
        color: #667085;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        border-left: 2px solid transparent;
        cursor: pointer;
        padding: 8px 14px;
        &.active{
          color: #6941C6 !important;
          border-left: 2px solid #6941C6;
        }
        & + li{
          margin-top: 4px;
        }
      }
    }
  }
  &__content{
    width: calc(100% - (280px + 32px));
    .title{
      font-size: 30px;
      color: $black-color;
      font-weight: 600;
      line-height: 38px;
    }
    .wrap{
      margin-top: 20px;
      .html{
        p{
          color: #475467;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
        li{
          color: #475467;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
        ol, ul{
          padding-left: 20px;
        }
      }
      .h2{
        color: $black-color;
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
      }
    }
    .pdf{
      border-radius: 8px;
      border: 1px solid #EAECF0;
      background: #FFF;
      padding: 10px 14px;
      display: flex;
      align-items: center;
      gap: 12px;
      text-decoration: none;
      img{
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
      span{
        color: #344054;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 767px){
  .services{
    &__header{
      flex-direction: column;
      margin: 48px 0;
      .title{
        font-size: 36px;
      }
    }
  }

  .tenders__cards{
    justify-content: space-between;
    .card{
      text-decoration: none;
      color: $black-color;
      width: 100%;
    }
  }

  .sub{
    &__inner{
      padding: 32px 0;
    }
    &__wrap{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 32px;
    }
    &__nav{
      width: 100%;
      ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        li{
          color: #667085;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          border-left: 2px solid transparent;
          cursor: pointer;
          padding: 8px 14px;
          &.active{
            color: #6941C6 !important;
            border-left: 2px solid #6941C6;
          }
          & + li{
            margin-top: 4px;
          }
        }
      }
    }
    &__content{
      width: 100%;
      .title{
        font-size: 24px;
        color: $black-color;
        font-weight: 600;
        line-height: 32px;
      }
      .wrap{
        margin-top: 20px;
        .html{
          p{
            color: #475467;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            word-break: break-all;
          }
          li{
            color: #475467;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
          }
          ol, ul{
            padding-left: 20px;
          }
        }
        .h2{
          color: $black-color;
          font-size: 20px;
          line-height: 30px;
          font-weight: 600;
        }
      }
      .pdf{
        border-radius: 8px;
        border: 1px solid #EAECF0;
        background: #FFF;
        padding: 10px 14px;
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        img{
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
        span{
          color: #344054;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
  }
}

@media (max-width: 480px){
  .services{
    &__header{
      .button{
        width: 100%;
      }
    }
  }
}