.services{
  &__inner{
    padding-bottom: 64px;
  }
  &__header{
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    .description{
      margin-top: 16px;
    }
  }
  &__cards{
    margin-bottom: -32px;
    .card{
      padding: 24px;
      p{
        font-size: 18px;
        color: $black-color;
        line-height: 24px;
        font-weight: 600;
      }
      ul{
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        li{
          color: $grey-600;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

.tenders__cards{
  justify-content: space-between;
  .card{
    text-decoration: none;
    color: $black-color;
    width: calc(50% - 16px);
    margin-right: 0 !important;
    display: flex;
    flex-direction: column;
    ul{
      flex: 1;
      li{
        span{
          color: $black-color;
          font-weight: 500;
        }
      }
    }
  }
  .name{
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (max-width: 767px){
  .services{
    &__header{
      flex-direction: column;
      margin: 48px 0;
      .title{
        font-size: 36px;
      }
    }
  }

  .tenders__cards{
    justify-content: space-between;
    .card{
      text-decoration: none;
      color: $black-color;
      width: 100%;
    }
  }
}

@media (max-width: 480px){
  .services{
    &__header{
      .button{
        width: 100%;
      }
    }
  }
}